// Navigation code here

.top-section{
    padding: 0.5% 0;
    background-color: @wild-sand;
    border-bottom: 2px solid @sea-shell;
    height: 25%;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 3.6rem;
    margin: 1% auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: @river-bend;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
}

.navigation nav a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.6rem;
    color: #212529;
}

.navigation nav a:hover {
    color: @ebony-clay;
}